
.die-face {
  grid-row: span 1;
  border-radius: 10px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.die-num {
  font-size: 2em;
  font-weight: lighter;
}
